*
{
    margin:0;
    padding:0;
    /* overflow: hidden; */
}
#main-container
{
    /* overflow:scroll; */
}
.sub-container
{
    width:80%;
    margin: 80px 50px 100px 100px;
}
hr{
    border-width: 0.5;
}
#nav-bar
{
    background-color: #ffffff;
    height: 50px;
    top: 0;
    position: fixed;
    border: #ffffff initial;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    z-index: 999;
}

#nav-bar div a:hover
{
    background-color: #808080;
    border: 10px solid grey;
}

#nav-bar div
{
    display: inline;
}

.main-menu,.side-menu,a
{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-left: 20px;
}
.side-menu
{
    position: relative;
    left: 850;
}

.special-showcase
{
   width: 100%;
   position: relative;
   top: 65px;
   padding-bottom: 60px;
   margin-bottom: 40px;
}
.special-showcase img
{
    width: 100%;
}
.special-showcase h1
{
    position: absolute;
    bottom: 80px;
    padding-left: 20px;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}
.cat-section
{
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 100px;
}
.cat-section img
{
    width:100%;
}
.cat-aside
{
    width: 50%;
    box-sizing: border-box;
    float: right;
    text-align: center;
}
.cat-aside h1{
    margin: 30px 30px 38px;
    font-weight: normal;
    letter-spacing: 1.5;
}
.cat-aside h3{
    margin: 30px 30px 30px 0;
    font-weight: normal;
}
.cat-aside p
{
    font-size: 18px;
    margin-left: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.menu-section
{
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 100px;
}
.menu-aside img
{
    width:100%;
}
.menu-aside
{
    /* width: 50%; */
    box-sizing: border-box;
    float: right;
    text-align: center;
}
.menu-section h3{
    margin: 20px 0px;
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: left;
}
.menu-dish
{
    margin-bottom: 50px;
}